.container {
	@apply max-w-[800px] w-full mx-auto;
}

.bottom {
	@apply flex items-center justify-between w-full mt-8;

	.all {
		@apply font-medium text-tiny text-gray-600 flex items-center gap-3;

		span {
			@apply font-bold text-gray-900;
		}
	}

	.summary {
		@apply font-medium text-tiny text-gray-600 flex items-center gap-3;

		span {
			@apply font-bold;
			color: #ff6c01;
		}
	}
}


.wrapper {
	@apply flex items-center justify-between w-full my-5 mb-10;

	.btn {
		@apply w-full max-w-[210px] px-4 py-3 text-white rounded-[12px] font-medium transition-all duration-300;
		background: #ff6c01;

		&:hover {
			opacity: 0.75;
		}
	}
}