.modal {
	@apply h-screen w-full fixed top-0 left-0 flex items-center justify-center opacity-0;
	background-color: rgba(0, 0, 0, 0.4);
	pointer-events: none;
	z-index: 1000;
	transition: 0.5s all ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	.content {
		padding: 20px;
		border-radius: 12px;
		background-color: #fff;
		transform: scale(0.5);
		transition: 0.5s all ease-in-out;
		width: 50vw;
		display: flex;
		gap: 25px;

		&.active {
			transform: scale(1);
		}
	}
}
