.left {
	@apply flex items-center flex-col w-1/2;

	.btn {
		@apply text-white bg-[#ff6c01] rounded-[8px] py-3 px-4 font-medium opacity-75 hover:opacity-100 transition-all duration-300 w-full;
	}

	img {
		width: 100%;
		max-height: 400px;
		height: 100%;
		object-fit: cover;
	}

	.size {
		@apply flex items-center mb-3 mt-3 py-2 px-4 w-full text-center;
		border-radius: 9999px;
		background-color: #f3f3f7;
		overflow: hidden;

		&__item {
			@apply py-2 px-4 relative z-10 cursor-pointer font-medium text-gray-400;
			transition: 0.3s all ease-in-out;
			flex: 1;

			&::before {
				transform: translateY(-10px);
			}

			&.active {
				@apply bg-white rounded-full py-2 px-4 relative z-10 text-gray-900;
				transition: 0.3s all ease-in-out;

				&::before {
					content: '';
					position: absolute;
					display: block;
					background-color: rgb(255, 255, 255);
					border-radius: 9999px;
					box-shadow: rgb(6 5 50 / 19%) 0px 6px 20px;
					inset: 0;
					z-index: -1;
					transform: translateY(0px);
				}
			}
		}
	}
}
