.btn {
	@apply p-3 bg-transparent rounded-lg transition-all duration-300 mt-3 font-medium text-[16px] mb-4;
	border: 2px solid #ff6c01;
	color: #ff6c01;

	&:hover {
		background: #ff6c01;
		color: #fff;
	}
}

.img {
	max-width: 500px;
	width: 100%;
	object-fit: cover;
}

.wrapper {
	@apply w-[85%] flex items-start flex-col gap-5 mb-5;

	.input {
		@apply w-full py-2 px-4 font-medium text-gray-600 outline-0 rounded-xl;
		border: 1px solid #ff6c01;
	}
}
