.wrapper {
	@apply w-1/2;

	.title {
		@apply font-bold text-center text-gray-900 text-center w-full  mt-4 text-tiny;
	}

	.input__wrapper {
		@apply relative mt-[10px];

		button {
			&:disabled {
				opacity: 0;
			}
		}

		.input {
			@apply w-full px-4 py-3 rounded-xl mt-4 font-medium text-gray-700 pr-[110px];
			border: 1px solid black;

			&::placeholder {
				@apply font-normal text-gray-700;
			}
		}

		.icon {
			@apply absolute right-6 top-1/2 cursor-pointer;
		}

		.control {
			@apply absolute right-[60px] top-1/2 text-gray-500 font-normal text-[0.7rem];
		}
	}

	.list {
		@apply flex flex-col gap-2 mt-6 h-[460px] scrollbar scrollbar-thumb-orange-300 scrollbar-track-gray-200 relative z-10;
		max-height: 480px;
		overflow-x: hidden;
	}
}
