.item {
	@apply flex items-center justify-between w-full pr-5;
	padding-top: 20px;
	border-top: 1px solid rgba(166, 163, 163, 0.2);

	img {
		@apply max-w-[80px] w-full h-[80px] object-cover rounded-full;
	}

	.info {
		@apply flex items-start flex-col;

		.title {
			@apply font-bold text-[22px];
		}

		.type {
			@apply text-gray-500 font-medium;
		}
	}

	.price {
		@apply text-gray-700 font-medium text-[22px];
	}

	.icon {
		@apply max-w-[40px] w-full h-[40px] cursor-pointer transition-colors duration-300;
		&:hover {
			color: #ff6c01;
		}
	}
}
